<footer class="c-footer" data-footer="">
    <div class="row">

        <div class="column" data-equalizer-watch="" >
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-6 menus">
                <li class="c-simple-nav__item  c-simple-nav__item--parent  c-simple-nav__link  c-simple-nav__item--20502 "><a href="#?ref=footer" class="c-simple-nav__link">Products</a>
                    <ul class="c-simple-nav__sub-menu c-simple-nav__sub-menu--1">
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--86880 "><a href="https://shop.fairphone.com/fairphone-5" class="c-simple-nav__link">Fairphone 5</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--94515 "><a href="https://shop.fairphone.com/fairphone-5-e-operating-system" class="c-simple-nav__link">Fairphone 5 with /e/os</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--72640 "><a href="https://shop.fairphone.com/fairbuds" class="c-simple-nav__link">Fairbuds</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--72640 "><a href="https://shop.fairphone.com/en/fairbuds-xl" class="c-simple-nav__link">Fairbuds XL</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20521 "><a href="https://shop.fairphone.com/spare-parts" class="c-simple-nav__link">Spare Parts</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20522 "><a href="https://shop.fairphone.com/accessories" class="c-simple-nav__link">Accessories</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--35081 "><a href="https://shop.fairphone.com/shop/gift-card-8#attr=" class="c-simple-nav__link">Gift Card</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--55759 "><a href="https://shop.fairphone.com/where-to-buy" class="c-simple-nav__link">Where to buy</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--55759 "><a href="https://shop.fairphone.com/promotions" class="c-simple-nav__link">Promotions</a></li>
                    </ul>
                </li>
                <li class="c-simple-nav__item  c-simple-nav__item--parent  c-simple-nav__link  c-simple-nav__item--21710 "><a href="#?ref=footer" class="c-simple-nav__link">Services</a>
                    <ul class="c-simple-nav__sub-menu c-simple-nav__sub-menu--1">
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--55616 "><a href="https://shop.fairphone.com/recycle" class="c-simple-nav__link">Reuse and Recycle Program</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--88849 "><a href="https://shop.fairphone.com/keep-club-fairphone" class="c-simple-nav__link">Keep Club</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--88848 "><a href="https://shop.fairphone.com/keep-club-fairphone-referral" class="c-simple-nav__link">Refer a friend</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--94237 "><a href="https://shop.fairphone.com/en/getting-started" class="c-simple-nav__link">Getting started</a></li>
                    </ul>
                </li>
                <li class="c-simple-nav__item  c-simple-nav__item--parent  c-simple-nav__link  c-simple-nav__item--21709 "><a href="#?ref=footer" class="c-simple-nav__link">Business</a>
                    <ul class="c-simple-nav__sub-menu c-simple-nav__sub-menu--1">
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--94787 "><a href="https://shop.fairphone.com/business" class="c-simple-nav__link">Business solutions</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--56918 "><a href="https://shop.fairphone.com/en/fairphone-for-business-resellers" class="c-simple-nav__link">Fairphone business resellers</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--83438 "><a href="https://shop.fairphone.com/aer" class="c-simple-nav__link">Android Enterprise</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--83439 "><a href="https://fairphone.com/en/sales-partner" class="c-simple-nav__link">Become a sales partner</a></li>
                    </ul>
                </li>
                <li class="c-simple-nav__item  c-simple-nav__item--parent  c-simple-nav__link  c-simple-nav__item--21711 "><a href="#?ref=footer" class="c-simple-nav__link">Fairphone</a>
                    <ul class="c-simple-nav__sub-menu c-simple-nav__sub-menu--1">
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--41933 "><a href="https://shop.fairphone.com/about-us" class="c-simple-nav__link">About us</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--37286 "><a href="https://fairphone.com/en/blog" class="c-simple-nav__link">Stories</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--85115 "><a href="https://fairphone.com/en/about/team" class="c-simple-nav__link">Team</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--21023 "><a href="https://fairphone.com/en/about/join-the-team" class="c-simple-nav__link">Vacancies</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20518 "><a href="https://fairphone.com/en/about/press" class="c-simple-nav__link">Press</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--54209 "><a href="https://shop.fairphone.com/software-longevity" class="c-simple-nav__link">Software longevity</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--54209 "><a href="https://fairphone.com/en/open-source" class="c-simple-nav__link">Open Source</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--94579 "><a href="https://shop.fairphone.com/fairphone-e-operating-system" class="c-simple-nav__link">Fairphone & Murena</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--103067 "><a href="https://shop.fairphone.com/black-friday" class="c-simple-nav__link">Black Friday</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--60740 "><a href="https://fairphone.com/en/legal/investors-relations" class="c-simple-nav__link">Investor Relations</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--52245 "><a href="https://fairphone.com/en/legal/impressum" class="c-simple-nav__link">Impressum</a></li>
                    </ul>
                </li>
                <li class="c-simple-nav__item  c-simple-nav__item--parent  c-simple-nav__link  c-simple-nav__item--83435 "><a href="#?ref=footer" class="c-simple-nav__link">Support</a>
                    <ul class="c-simple-nav__sub-menu c-simple-nav__sub-menu--1">
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20510 "><a href="https://support.fairphone.com/hc/en-us" class="c-simple-nav__link">Customer Support</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20508 "><a href="https://support.fairphone.com/hc/en-us/categories/115000331883" class="c-simple-nav__link">My order</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20951 "><a href="https://shop.fairphone.com/contact" class="c-simple-nav__link">Contact</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--58642 "><a href="https://fairphone.com/en/legal/fairphone-returns-policy" class="c-simple-nav__link">Return Policy</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--20509 "><a href="https://support.fairphone.com/hc/en-us/articles/17121765976849" class="c-simple-nav__link">Shipping</a></li>
                        <li class="c-simple-nav__sub-menu-item c-simple-nav__sub-menu--1__item  c-simple-nav__link  c-simple-nav__item--55404 "><a href="https://shop.fairphone.com/warranty" class="c-simple-nav__link">Warranty</a></li>
                    </ul>
                </li>
                <li class="c-simple-nav__item c-simple-nav__item--parent c-simple-nav__link">
                    <a class="c-simple-nav__link" href="#?">Connect</a>
                    <ul class="c-simple-nav__sub-menu">
                        <li>
                            <a target="_blank" href="https://forum.fairphone.com">Forum</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/user/Fairphone">
                                YouTube
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/fairphone/">
                                Instagram
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://facebook.com/fairphone">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/fairphone/">
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="c-footer__inline-list">
                <li>
                    <ul>
                        <li class="c-footer__list-item">
                            <a class=" c-footer__list-link--linkedin" href="https://www.linkedin.com/company/fairphone/">
                            </a>
                        </li>
                        <li class="c-footer__list-item">
                            <a class=" c-footer__list-link--instagram" href="https://www.instagram.com/fairphone/">
                            </a>
                        </li>
                        <li class="c-footer__list-item">
                            <a class=" c-footer__list-link--facebook" href="https://facebook.com/fairphone">
                            </a>
                        </li>
                        <li class="c-footer__list-item">
                            <a class=" c-footer__list-link--youtube" href="https://www.youtube.com/user/Fairphone">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="c-footer__inline-list-item">
                    <a class="c-footer__inline-list-link" href="https://fairphone.com/en/legal/terms-and-conditions-for-fairphone-website-usage/">
                        Terms and Conditions                        </a>
                </li>
                <li class="c-footer__inline-list-item">
                    <a class="c-footer__inline-list-link" href="https://www.fairphone.com/en/legal/fairphone-privacy-policy/">
                        Privacy and Cookie Policy                       </a>
                </li>
                <li class="c-footer__inline-list-item">
                    <a class="c-footer__inline-list-link" href="https://www.fairphone.com/en/legal/impressum">
                        Impressum                       </a>
                </li>
                <li class="c-footer__inline-list-item copyright">
                    © Fairphone 2025                    </li>
            </ul>
        </div>
    </div>

</footer>    



<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=7008ae9f-e7fc-451a-9f39-3c89f8907cac"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://assets.zendesk.com/assets/apps/conditional_fields/latest/helpcenter.js"></script>
<script>var cfaRules = [{"fieldType":"tagger","field":25210943,"value":"about_product_problem","select":[25287926,360000140026],"formId":92946,"requireds":[25287926]},{"fieldType":"tagger","field":25210943,"value":"about_product_return","select":[25287926],"formId":92946,"requireds":[25287926]},{"fieldType":"tagger","field":25210943,"value":"about_product_update","select":[25287926],"formId":92946,"requireds":[25287926]},{"fieldType":"tagger","field":25287946,"value":"about_product","select":[25210943,25448966,25448946],"formId":92946,"requireds":[25210943,25448966]},{"fieldType":"tagger","field":25448966,"value":"fairphone_webshop","select":[24990886],"formId":92946,"requireds":[]},{"fieldType":"tagger","field":25448966,"value":"other_shop","select":[360000056043],"formId":92946,"requireds":[]}];</script>

<script src="{{asset "fairphone.app.js"}}"></script>
<script src="{{asset 'ivaldi.js'}}"></script>


<script>
    $(document).ready(function() {
      Fairphone().start();
    });

    window.addEventListener('DOMContentLoaded', function(){
      var ZingtreeFrame = document.querySelector('iframe[src*="https://zingtree.com/deploy/tree.php"]'); 
      var getQueryVariable = function(variable) {
        var query = document.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          if (pair[0] == variable) {
            return pair[1];
          }
        }
        return '';
      };
      if( ZingtreeFrame ) {
          ZingtreeFrame.onload = function() {
            if( getQueryVariable('session_id') != '' ) {
              ZingtreeFrame.contentWindow.postMessage({
                message: 'FP_ZINGTREE',
                session_id: getQueryVariable('session_id'),
                success: getQueryVariable('success')
              },"*");
            }
        }
      }
    });

    window.addEventListener('message', event => {
      if(event.data.message && event.data.message == 'Successful submission'){
        history.replaceState(
          {},
          document.title,
          top.window.location.href +
            '&success=true'
        );
        window.location.replace(event.data.redirect);
      }
    });

    //zE('messenger', 'hide');

    console.log('Script starting...');

  document.addEventListener('DOMContentLoaded', function() {
      console.log('DOM loaded, looking for chat button...');

      const chatButton = document.getElementById('chat-with-fairphone');
      console.log('Chat button search result:', chatButton);

      if (chatButton) {
          console.log('Chat button found! Adding event listener...');

          chatButton.addEventListener('click', function(e) {
              console.log('BUTTON CLICKED!');
              e.preventDefault();
              e.stopPropagation();

              if (typeof zE !== 'undefined') {
                  console.log('Opening Zendesk...');
                  zE('messenger', 'show');
                  zE('messenger', 'open');
              } else {
                  console.log('zE not available');
              }
          });

          console.log('Event listener added successfully');
      } else {
          console.log('ERROR: Chat button not found!');
      }
  });

  console.log('Script loaded');
</script>
<!-- <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
-->