<footer class="fp_footer_container">
                <div class="fp_footer">
                    <div class="fp_site_map">
                        <section class="fp_footer_map_navigation">
                            <h6 class="fp_h6">Products</h6>
                            <i class="fp_icon fp_accordion_arrow_down fp_desktop_hidden_block collapsed"  aria-expanded="true" ></i>
                            <div class="collapse" data-bs-parent="#myCollapse" id="myCollapseTab_1">
                                <div class="fp_map_navigation">
                                    <a href="https://www.fairphone.com/the-fairphone-gen-6" class="fp_navigation_link" aria-describedby="popover249434">The Fairphone (Gen. 6)</a>
                                    <a href="https://www.fairphone.com/the-fairphone-gen-6-e-operating-system" class="fp_navigation_link" aria-describedby="popover249434">The Fairphone (Gen. 6) with /e/os</a>
                                    <a href="https://www.fairphone.com/fairbuds" class="fp_navigation_link">Fairbuds</a>
                                    <a href="https://www.fairphone.com/fairbuds-xl" class="fp_navigation_link">Fairbuds XL</a>
                                    <a href="https://www.fairphone.com/spare-parts" class="fp_navigation_link">Spare Parts</a>
                                    <a href="https://www.fairphone.com/accessories" class="fp_navigation_link">Accessories</a>
                                    <a href="https://www.fairphone.com/shop/gift-card-8#attr=" class="fp_navigation_link">Gift Card</a>
                                    <a href="https://www.fairphone.com/where-to-buy" class="fp_navigation_link">Where to Buy</a>
                                </div>
                            </div>
                        </section>
                        <section class="fp_footer_map_navigation">
                            <h6 class="fp_h6">services</h6>
                            <i class="fp_icon fp_accordion_arrow_down fp_desktop_hidden_block collapsed"  aria-expanded="true" ></i>
                            <div class="collapse" data-bs-parent="#myCollapse" id="myCollapseTab_2">
                                <div class="fp_map_navigation">
                                    <a href="https://www.fairphone.com/recycle" class="fp_navigation_link">Re-use and Recycle Program</a>
                                    <a href="https://www.fairphone.com/keep-club-fairphone" class="fp_navigation_link">Keep Club</a>
                                    <a href="https://www.fairphone.com/keep-club-fairphone-referral" class="fp_navigation_link">Refer a Friend</a>
                                    <a href="https://www.fairphone.com/getting-started" class="fp_navigation_link">Getting Started</a>
                                </div>
                            </div>
                        </section>
                        <section class="fp_footer_map_navigation">
                            <h6 class="fp_h6">business</h6>
                            <i class="fp_icon fp_accordion_arrow_down fp_desktop_hidden_block collapsed"  aria-expanded="true" ></i>
                            <div class="collapse" data-bs-parent="#myCollapse" id="myCollapseTab_3">
                                <div class="fp_map_navigation">
                                    <a href="https://www.fairphone.com/business" class="fp_navigation_link">Business Solutions</a>
                                    <a href="https://www.fairphone.com/fairphone-for-business-resellers" class="fp_navigation_link">Fairphone Business Resellers</a>
                                    <a href="https://www.fairphone.com/aer" class="fp_navigation_link">Android Enterprise</a>
                                    <a href="https://www.fairphone.com/sales-partner" class="fp_navigation_link" rel="noreferrer">Become a Sales Partner</a>
                                    <a href="https://www.fairphone.com/professional-repairs" class="fp_navigation_link">Professional Repairs</a>
                                    <a href="https://www.fairphone.com/partner-program" class="fp_navigation_link">Business Partner Program</a>
                                </div>
                            </div>
                        </section>
                        <section class="fp_footer_map_navigation">
                            <h6 class="fp_h6">FairphonE</h6>
                            <i class="fp_icon fp_accordion_arrow_down fp_desktop_hidden_block collapsed"  aria-expanded="true" ></i>
                            <div class="collapse" data-bs-parent="#myCollapse" id="myCollapseTab_4">
                                <div class="fp_map_navigation">
                                    <a href="https://www.fairphone.com/about-us" class="fp_navigation_link">About Us</a>
                                    <a href="https://www.fairphone.com/stories" class="fp_navigation_link" rel="noreferrer">Stories</a>
                                    <a href="https://www.fairphone.com/impact-report/" class="fp_navigation_link" rel="noreferrer">Impact Report</a>
                                    <a href="https://www.fairphone.com/team" class="fp_navigation_link" rel="noreferrer">Careers</a>
                                    <a href="https://forum.fairphone.com/" class="fp_navigation_link">Forum</a>
                                    <a href="https://www.fairphone.com/press/" class="fp_navigation_link" rel="noreferrer">Press</a>
                                    <a href="https://www.fairphone.com/software-longevity" class="fp_navigation_link">Software Longevity</a>
                                    <a href="https://www.fairphone.com/open-source" class="fp_navigation_link" rel="noreferrer">Open Source</a>
                                    <a href="https://www.fairphone.com/fairphone-e-operating-system" class="fp_navigation_link">Fairphone x Murena</a>
                                    <a href="https://www.fairphone.com/legal/financial-information" class="fp_navigation_link" rel="noreferrer">Investor Relations</a>
                                    <a href="https://www.fairphone.com/legal/impressum" class="fp_navigation_link" rel="noreferrer">Impressum</a>
                                </div>
                            </div>
                        </section>
                        <section class="fp_footer_map_navigation">
                            <h6 class="fp_h6">support</h6>
                            <i class="fp_icon fp_accordion_arrow_down fp_desktop_hidden_block collapsed"  aria-expanded="true" ></i>
                            <div class="collapse" data-bs-parent="#myCollapse" id="myCollapseTab_5">
                                <div class="fp_map_navigation">
                                    <a href="https://support.fairphone.com/hc/en-us" class="fp_navigation_link">Customer Support</a>
                                    <a href="https://support.fairphone.com/hc/en-us/sections/31679679126162-Manage-your-order" class="fp_navigation_link">Manage your Order</a>
                                    <a href="https://www.fairphone.com/repairs" class="fp_navigation_link">Repair Tutorials</a>
                                    <a href="https://www.fairphone.com/contact" class="fp_navigation_link" rel="noreferrer">Contact</a>
                                    <a href="https://www.fairphone.com/returns" class="fp_navigation_link" rel="noreferrer">Returns</a>
                                    <a href="https://support.fairphone.com/hc/en-us/articles/17121765976849" class="fp_navigation_link">Shipping</a>
                                    <a href="https://www.fairphone.com/legal/fairphone-warranties" class="fp_navigation_link" rel="noreferrer">Warranty</a>
                                    <a href="https://www.fairphone.com/warranty" class="fp_navigation_link" rel="noreferrer">Register Your Warranty</a>
                                </div>
                            </div>
                        </section>
                        <section class="fp_footer_map_navigation">
                            <h6 class="fp_h6">Connect</h6>
                            <i class="fp_icon fp_accordion_arrow_down fp_desktop_hidden_block collapsed"  aria-expanded="true" ></i>
                            <div class="collapse" data-bs-parent="#myCollapse" id="myCollapseTab_6">
                                <div class="fp_map_navigation f_social_icons">
                                  <a href="https://instagram.com/fairphone">
                                      <i class="f_icon f_instagram_icon"></i>
                                  </a>
                                  <a href="https://www.tiktok.com/@fairphone">
                                      <i class="f_icon f_tiktok_icon"></i>
                                  </a>
                                  <a href="https://facebook.com/fairphone">
                                      <i class="f_icon f_facebook_icon"></i>
                                  </a>
                                  <a href="https://www.youtube.com/@Fairphone">
                                      <i class="f_icon f_youtube_icon"></i>
                                  </a>
                                  <a href="https://www.linkedin.com/company/fairphone/">
                                      <i class="f_icon f_linkedin_icon"></i>
                                  </a>
                                </div>
                            </div>
                        </section>
                    </div>
                    
                      <div class="fp_bottom_footer">
                          <section class="fp_bottom_section fp_social_wrapper o_colored_level" ></section>
                          <section class="fp_bottom_section o_colored_level" >
                              
                              <a rel="noreferrer" href="https://www.fairphone.com/legal/terms-and-conditions-for-fairphone-website-usage/" class="fp_bottom_footer_link">Terms &amp; Conditions</a>

                          </section>
                          <section class="fp_bottom_section o_colored_level" >
                              <a rel="noreferrer" href="https://www.fairphone.com/legal/fairphone-privacy-policy" class="fp_bottom_footer_link">Privacy &amp; Cookie Policy</a>
                          </section>
                          <section class="fp_bottom_section o_colored_level" >
                              <a rel="noreferrer" href="https://www.fairphone.com/legal/impressum" class="fp_bottom_footer_link">Impressum</a>
                          </section>
                          
                          <section class="fp_bottom_section o_colored_level" >
                              <a href="#" class="fp_bottom_footer_link" onclick="window.DG_BANNER_API.showLayer('default-layer');return false;">Cookie settings</a>
                          </section>
                          <section class="fp_bottom_section o_colored_level" >
                              <a rel="noreferrer" href="https://www.fairphone.com/legal" class="fp_bottom_footer_link">Legal</a>
                          </section>
                      </div>
                       <div class="f_company_information">
				              	<div class="f_text_sm">
				            			  FairPhone B.V. – Van Diemenstraat 200, 1013 CP Amsterdam, The Netherlands | VAT: 851904270B01 | KvK: 55901964 | 
					            	  	<a class="f_footer_link f_text_sm" target="_blank" href="https://support.fairphone.com/hc/en-us/requests/new">Support contact</a>
					            	</div>
					        	    <div class="f_text_sm">© Fairphone 2026</div>
				            	</div>
                    
                </div>
            </footer>


<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=7008ae9f-e7fc-451a-9f39-3c89f8907cac"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://assets.zendesk.com/assets/apps/conditional_fields/latest/helpcenter.js"></script>
<script>var cfaRules = [{"fieldType":"tagger","field":25210943,"value":"about_product_problem","select":[25287926,360000140026],"formId":92946,"requireds":[25287926]},{"fieldType":"tagger","field":25210943,"value":"about_product_return","select":[25287926],"formId":92946,"requireds":[25287926]},{"fieldType":"tagger","field":25210943,"value":"about_product_update","select":[25287926],"formId":92946,"requireds":[25287926]},{"fieldType":"tagger","field":25287946,"value":"about_product","select":[25210943,25448966,25448946],"formId":92946,"requireds":[25210943,25448966]},{"fieldType":"tagger","field":25448966,"value":"fairphone_webshop","select":[24990886],"formId":92946,"requireds":[]},{"fieldType":"tagger","field":25448966,"value":"other_shop","select":[360000056043],"formId":92946,"requireds":[]}];</script>

<script src="{{asset "fairphone.app.js"}}"></script>
<script src="{{asset 'ivaldi.js'}}"></script>


<script>
    $(document).ready(function() {
      Fairphone().start();
    });

    window.addEventListener('DOMContentLoaded', function(){
      var ZingtreeFrame = document.querySelector('iframe[src*="https://zingtree.com/deploy/tree.php"]'); 
      var getQueryVariable = function(variable) {
        var query = document.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          if (pair[0] == variable) {
            return pair[1];
          }
        }
        return '';
      };
      if( ZingtreeFrame ) {
          ZingtreeFrame.onload = function() {
            if( getQueryVariable('session_id') != '' ) {
              ZingtreeFrame.contentWindow.postMessage({
                message: 'FP_ZINGTREE',
                session_id: getQueryVariable('session_id'),
                success: getQueryVariable('success')
              },"*");
            }
        }
      }
    });

    window.addEventListener('message', event => {
      if(event.data.message && event.data.message == 'Successful submission'){
        history.replaceState(
          {},
          document.title,
          top.window.location.href +
            '&success=true'
        );
        window.location.replace(event.data.redirect);
      }
    });

    //zE('messenger', 'hide');

    console.log('Script starting...');

  document.addEventListener('DOMContentLoaded', function() {
      console.log('DOM loaded, looking for chat button...');

      const chatButton = document.getElementById('chat-with-fairphone');
      console.log('Chat button search result:', chatButton);

      if (chatButton) {
          console.log('Chat button found! Adding event listener...');

          chatButton.addEventListener('click', function(e) {
              console.log('BUTTON CLICKED!');
              e.preventDefault();
              e.stopPropagation();

              if (typeof zE !== 'undefined') {
                  console.log('Opening Zendesk...');
                  zE('messenger', 'show');
                  zE('messenger', 'open');
              } else {
                  console.log('zE not available');
              }
          });

          console.log('Event listener added successfully');
      } else {
          console.log('ERROR: Chat button not found!');
      }
  });

</script>
<!-- <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
-->