<!-- ============================================================
  PRODUCTION TEMPLATE: header.hbs
  Source: actual_theme/templates/header.hbs
  ============================================================ -->

<!-- REMOVED FROM COPENHAGEN: skip-navigation link -->
<!-- REMOVED FROM COPENHAGEN: logo with settings.logo image and help_center.name -->
<!-- REMOVED FROM COPENHAGEN: desktop nav-wrapper with user-nav (community, new_request, sign_in links) -->
<!-- REMOVED FROM COPENHAGEN: user-info dropdown with avatar, name, profile/requests/contributions/sign_out menu -->
<!-- REMOVED FROM COPENHAGEN: mobile nav-wrapper with hamburger menu, mobile user nav, sign_in/sign_out -->
<!-- REMOVED FROM COPENHAGEN: SVG icons for menu, chevron, etc. -->

<!-- ADDED FROM PRODUCTION: Custom Fairphone header with full navigation -->
<header class="c-header">
<!--<div class="header_banner">
  		<span class="header_banner-close"></span>
      <strong>Important Notice: </strong>On 19 May 2024 at approximately 19:30 CEST, our system sent out order confirmation emails for previous purchases. These emails were sent in error.<br/>
      Rest assured, no new orders have been placed on your behalf, and your account has not been charged. We apologize for the inconvenience.
		</div>-->
  	<div class="row">
        <div class="c-header__wrapper">
            <div class="c-header__area-first">
              	<button class="c-nav__toggle"></button>
                <h1 class="c-logo">
                    <a class="c-logo__link" href="https://www.fairphone.com/">
                        Fairphone
                    </a>
                </h1>
            </div>
            <div class="c-header__area-second">
                <ul class="c-nav">
                    <li class="c-nav__item c-nav__link">
                        <a href="https://shop.fairphone.com/" class="c-nav__link">Shop</a>
                        <ul class="c-nav__sub-menu">
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://shop.fairphone.com/smartphones" class="c-nav__link">Smartphones</a>
                            </li>
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://shop.fairphone.com/audio" class="c-nav__link">Audio</a>
                            </li>
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://shop.fairphone.com/spare-parts/" class="c-nav__link">Spare Parts</a>
                            </li>
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://shop.fairphone.com/accessories/" class="c-nav__link">Accessories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="c-nav__item c-nav__link">
                        <a href="https://shop.fairphone.com/about-us" class="c-nav__link">About</a>
                        <ul class="c-nav__sub-menu">
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://shop.fairphone.com/about-us" class="c-nav__link">About us</a>
                            </li>
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://www.fairphone.com/en/impact/" class="c-nav__link">Our impact</a>
                            </li>
                        </ul>
                    </li>
                    <li class="c-nav__item c-nav__link ">
                        <a href="https://www.fairphone.com/blog/" class="c-nav__link">Fairphone Stories</a>
                        <ul class="c-nav__sub-menu">
                          	<li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://www.fairphone.com/community/" class="c-nav__link">Get Involved</a>
                            </li>
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://www.fairphone.com/events/" class="c-nav__link">Events</a>
                            </li>
                            <li class="c-nav__sub-menu-item c-nav__link">
                                <a href="https://forum.fairphone.com/" class="c-nav__link">Forum</a>
                            </li>
                        </ul>
                    </li>
                  <li class="c-nav__item c-nav__link c-nav__item">
                          <a href="https://shop.fairphone.com/business" class="c-nav__link">Business</a>
                    </li>
                    <li class="c-nav__item c-nav__link c-nav__item--active">
                          <a href="https://support.fairphone.com/" class="c-nav__link">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  
    <div class="c-header__info">
        <a href="/hc/en-us/signin" class="login c-header__login-btn user-not-logged-in" data-auth-action="signin" role="button">Sign In</a>
        {{user_info}}
				<div id="google_translate_element"></div>
  	</div>
</header>

<!-- ADDED FROM PRODUCTION: Search popover (mobile navigation overlay) -->
<div class="c-search-popover" data-search="">
	<div class="c-search-popover__main">
		<div class="c-search-popover__header">
			<button class="c-nav__toggle active"></button>
			<h1 class="c-logo">
				<a class="c-logo__link" href="https://www.fairphone.com/en/">
					<span>Fairphone</span>
				</a>
			</h1>
		</div>
		<div class="c-search-popover__contents">
			<ul class="c-search-popover-main-nav " data-search-popover-main-nav="">
				<li class="c-search-popover-main-nav__item  c-search-popover-main-nav__item--parent  c-search-popover-main-nav__link  c-search-popover-main-nav__item--4 ">
					<a href="#" class="c-search-popover-main-nav__link">Products</a>
					<ul class="c-search-popover-main-nav__sub-menu c-search-popover-main-nav__sub-menu--1">
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--20626 ">
							<a href="https://shop.fairphone.com/en/" class="c-search-popover-main-nav__link">Smartphones</a>
						</li>
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--20627 ">
							<a href="https://shop.fairphone.com/en/spare-parts/" class="c-search-popover-main-nav__link">Spare Parts</a>
						</li>
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--20628 ">
							<a href="https://shop.fairphone.com/en/accessories/" class="c-search-popover-main-nav__link">Accessories</a>
						</li>
					</ul>
				</li>
				<li class="c-search-popover-main-nav__item  c-search-popover-main-nav__item--parent  c-search-popover-main-nav__link  c-search-popover-main-nav__item--46531 ">
					<a href="#" class="c-search-popover-main-nav__link">Story</a>
					<ul class="c-search-popover-main-nav__sub-menu c-search-popover-main-nav__sub-menu--1">
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--46540 ">
							<a href="https://www.fairphone.com/en/story/" class="c-search-popover-main-nav__link">Our Mission</a>
						</li>
						<li class="c-search-popover-main-nav__item--parent  c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--46532 ">
							<a href="https://www.fairphone.com/en/impact/" class="c-search-popover-main-nav__link">Our Impact</a>
						</li>
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--46541 ">
							<a href="https://www.fairphone.com/en/blog/" class="c-search-popover-main-nav__link">Blog</a>
						</li>
					</ul>
				</li>
				<li class="c-search-popover-main-nav__item  c-search-popover-main-nav__item--parent  c-search-popover-main-nav__link  c-search-popover-main-nav__item--46597 ">
					<a href="#" class="c-search-popover-main-nav__link">Community</a>
					<ul class="c-search-popover-main-nav__sub-menu c-search-popover-main-nav__sub-menu--1">
						<li class="c-search-popover-main-nav__item--parent  c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--46688 ">
							<a href="https://www.fairphone.com/en/community/" class="c-search-popover-main-nav__link">Get Involved</a>
						</li>
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--41 ">
							<a href="https://www.fairphone.com/en/events/" class="c-search-popover-main-nav__link">Events</a>
						</li>
						<li class="c-search-popover-main-nav__sub-menu-item c-search-popover-main-nav__sub-menu--1__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--43 ">
							<a href="https://forum.fairphone.com/" class="c-search-popover-main-nav__link">Forum</a>
						</li>
					</ul>
				</li>
				<li class="c-search-popover-main-nav__item  c-search-popover-main-nav__link  c-search-popover-main-nav__item--20629 ">
					<a href="https://support.fairphone.com/hc/en-us" class="c-search-popover-main-nav__link">Support</a>
				</li>
			</ul>
			<a class="o-button c-search-popover__button" href="https://shop.fairphone.com/en/customer/account/">My account</a>
		</div>
	</div>
</div>
<!-- ADDED FROM PRODUCTION: Zendesk chat snippet -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=7008ae9f-e7fc-451a-9f39-3c89f8907cac"></script>